html,body{
    width: 100%;
    height: 100%;
}
#map { 
    width: 100%;
    height: 100%;
}
/* 在不同螢幕尺寸下調整高度 */
@media (max-width: 768px) { /* 最大螢幕寬度為 768px（行動裝置） */
    .mobile {
        height: 60vh !important; /* 在行動裝置上，高度為 50vh */
    }
}